header {
    width: 100%;
    background-color: #044d91;
    color: white;
    font-weight: bold;
    overflow: hidden;
    overflow-x: hidden; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}